.beth-ellen-regular {
    font-family: "Beth Ellen", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    color: rgb(220, 38, 38);
    font-family:'Beth Ellen';
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menyKp {
    height: 75px;
    width: 100px;
    border: solid;
    background-color: rgb(220, 38, 38);
    border-color: rgb(153, 27, 27);
    border-width: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#menyKp:hover {
    background-color: rgb(153, 27, 27);
    transition-duration: 0.4s;
}

.infoBlokk {
    color: rgb(220, 38, 38);
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin: 0px 50px 0px 50px
}

#menyKpLink {
    margin-top: 3%;
    margin-left: 60%; 
}

#pilScroll {
    margin-top: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headerBg {
  position: absolute;
  border: 0;
  opacity: 0.2;
}

#footerBG {
    position:absolute;
    opacity: 0.3;
    z-index: -1;
}

footer {
    margin-top: 50px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#footerInfo {
    color:rgb(220, 38, 38);
    font-size:larger;
}

#footerLink {
    display:flex;
    flex-direction: column;
    align-content: space-between;
}
.linkFont {
    color:rgb(220, 38, 38);
    font-size: larger;
    margin-top: 15px;
}